.survey-header {
  display: flex;
  height: 20px;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
