.field-children {
  width: 80%;
  height: auto;
}

.checkbox {
  margin: 0;
  margin-right: 3px;
}

.submit-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.clear-button {
  background-color: rgb(243, 60, 60);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}

.check-button {
  background-color: rgb(241, 220, 29);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Hover effects for better user experience */
.submit-button:hover,
.clear-button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .field-children {
    width: 100%;
    height: auto;
  }
}
